<div class="container align-items-center">
  <div class="row align-items-center mt-4">
      <div class="card text-center">
        <h2 class="my-2">BBVA</h2>
        <img src="https://www.ocu.org/-/media/ocu/images/home/dinero/tarjetas/tarjeta_aqua_1600x900.jpg?rev=9dccc2d8-2b35-4405-bcf8-f019e635d302&hash=24FCF710C06C7D9DC126E3E869E7667E" alt="..." width="" height="200" class="center">

        <p class="my-2">Felicidades, tu tarjeta de crédito Aqua ha sido preaprobada, por favor selecciona el cupo deseado:</p>
      </div>
    <form [formGroup]="usuarioForm" (ngSubmit)="cancelarTarjeta()">
    <div class="col-xs-10 col-lg-5 mt-4 container">
      <div class="row">
        <div class="form-group">
          <div class="mb-3 row">
             <label for="modificarCupo" class="col-lg-3 col-form-label">Modificar cupo</label>
             <div class="col-lg-9">
              <input type="range" #cupo (input)="cupo.value" id="cupo"  min="100000" max="10000000" value="10000000" step="100000">
              <label for="cupo" class="m-2">${{ cupo.value }}</label>
             </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check mb-2 mt-2">
            <label for="firma" class="form-check-label"></label>
            <input class="form-check-input" formControlName="firma" type="checkbox">
            Firma pagaré
          </div>
        </div>
        <div class="col-12 text-center mt-3">
          <button type="button" (click)="obtenerTarjeta()"
            class="btn btn-primary col-8" [disabled]="!usuarioForm.get('firma')?.value">Obtener tarjeta Aqua</button>
        </div>
        <div class="col-12 text-center mt-3">
          <button type="submit"
            class="btn btn-danger col-8">Cancelar proceso</button>
        </div>
      </div>
    </div>

  </form>
  </div>
</div>
<div class="alert-dismissible text-center cookiealert" [hidden]="!isShow" role="alert">
  <div class="cookiealert-container">
    <b>Por restricciones de WhatsApp no se puede enviar mensajes automáticamente sin antes tener autorización del usuario.</b>
    Para completar dicha autorización, se requiere enviar un mensaje al número del AquaBOT. Por favor da click en aceptar para
    realizar dicho envío de forma automática.
    <button type="button" (click)="featureHide()" class="btn btn-success btn-sm acceptcookies"  aria-label="Close">
        Aceptar
    </button>
  </div>
</div>


